@font-face {
    font-family: 'LondrinaSolid';
    src: url('./fonts/LondrinaSolid-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProRounded';
    src: url('./fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'SFProRounded', Arial, sans-serif;
    background-color: #f4f4f9;
    font-size: 32px;
}

#header {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#header h1 {
    font-family: 'LondrinaSolid', sans-serif;
    font-size: 2.5em;
    color: #048940;
    margin-top: 20px; /* Add top margin to push it down */
}

#content {
    width: 90%;
    max-width: 1000px;
    position: relative;
    top: 100px;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 20px;
}

.sage-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.sage-image {
    width: 250px; /* Increased size */
    height: auto;
    margin-right: 20px; /* Space between the image and the text/buttons */
}


.dialogues {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sageBreathing {
    width: 200px;
    height: 200px;
    transition: width 2s, height 2s;
}


.dialogue-box {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align children horizontally */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;
    
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px; /* Set maximum width for text content */
}

button {
    background-color: #048940;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 32px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'SFProRounded', sans-serif;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}


button:hover {
    background-color: #047637;
}

.hidden {
    display: none;
}
